<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/carrousel1.jpg" alt="" class="bd-placeholder-img" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Hôtel 5 étoiles de très haut standing </h1>
            <p>Adresse parisienne unique en son genre</p>
            <p><a href="{{ path('app_user') }}"><button class="btn btn-lg btn-success">Réserver</button></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/carrousel3.jpg" alt="" class="bd-placeholder-img" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption">
            <h1>Lorem lorem lorem</h1>
            <p>Adresse parisienne unique en son genre</p>
            <p><a href="{{ path('app_user') }}"><button class="btn btn-lg btn-success">Réserver</button></a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/carrousel3.jpg" alt="" class="bd-placeholder-img" width="100%" height="100%">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Restaurant</h1>
            <p>Grands chefs étoilés et meilleurs ouvriers de France</p>
            <p><a href="{{ path('app_user') }}"><button class="btn btn-lg btn-success">Réserver</button></a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">lorem</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">lorem</span>
    </button>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <h1 class="text-center mt-3 mb-3"> Nos offres </h1>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img src="assets/img/home-offre1.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Lorem Ipsum is simply dummy text.</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-secondary" href="#">Spa & Bien-Être</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/img/home-offre2.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Lorem Ipsum is simply dummy text.</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-secondary" href="#">Restaurant & Bar</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img src="assets/img/home-offre3.jpg" alt="" class="bd-placeholder-img rounded-circle" width="140" height="140">
        <h2 class="fw-normal">Lorem Ipsum is simply dummy text.</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><a class="btn btn-secondary" href="#">Services à la carte</a></p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1"> Nouveau hôtel parisien <span class="text-muted">luxe</span></h2>
        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/img/carrousel1.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"> Restaurant Bar <span class="text-muted">qualité</span></h2>
        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="assets/img/home-restaurant.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Spa & Bien-Être <span class="text-muted">professionnalisme</span></h2>
        <p class="lead">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here.</p>
      </div>
      <div class="col-md-5">
        <img src="assets/img/home-spa.jpg" alt="" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->

</main>